<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Restaurant Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Employee Management System</h1>
        <hr>
        <h2>Add Employee</h2>

        <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST" onsubmit="return validateForm()">

            <input type="text" th:field="*{firstName}" placeholder="Employee First Name" class="form-control mb-4 col-4">

            <input type="text" th:field="*{lastName}" placeholder="Employee Last Name" class="form-control mb-4 col-4">

            <input type="text" th:field="*{email}" placeholder="Employee Email" class="form-control mb-4 col-4">

            <input type="text" th:field="*{salary}" placeholder="Employee Salary" class="form-control mb-4 col-4" id="salaryField" oninput="validateSalaryInput(this)">

            <button type="submit" class="btn btn-info col-2">Save Employee</button>
        </form>

        <hr>

        <a th:href="@{/}">Back to Employee List</a>
    </div>

    <script>
        // Validate salary field input
        function validateSalaryInput(salaryField) {
            var numericValue = parseFloat(salaryField.value);
            if (!salaryField.value || !/^\d*\.?\d*$/.test(salaryField.value) || numericValue < 0) {
                salaryField.value = '0'; // Set salary to 0 if it's empty, contains non-numeric characters, or negative value
            }
        }

        function validateForm() {
        var firstNameField = document.querySelector('input[name="firstName"]');
        var lastNameField = document.querySelector('input[name="lastName"]');
        var emailField = document.querySelector('input[name="email"]');
        var salaryField = document.getElementById('salaryField');

        if (!firstNameField.value.trim() || !lastNameField.value.trim() || !emailField.value.trim() || parseFloat(salaryField.value) === 0) {
            alert('Please enter all required fields and ensure salary is greater than 0.'); // Display error message if any required field is empty or salary is 0
            return false; // Prevent form submission
        }

        if (!isValidEmail(emailField.value.trim())) {
            alert('Please enter a valid email address.'); // Display error message if email format is invalid
            return false; // Prevent form submission
        }

        return true; // Allow form submission if validation passes
    }

    // Function to validate email format
    function isValidEmail(email) {
	    // Using a regular expression for email format validation
	    var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
	    return emailRegex.test(email);
	}
    </script>
</body>

</html>
