<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Orders Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Orders Management</h1>
        <hr>
        <h2>Update Order</h2>

        <form th:action="@{/order/saveOrder}" th:object="${order}" method="post">
    <input type="hidden" th:field="${order.id}" />
    <!-- Display the items and quantities -->
    <h2>Order Details</h2>
    <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.itemName}"></td>
            <td><input type="number" th:field="*{quantityMap[__${item.itemID}__]}" min="0" /></td>
        </tr>
    </table>
    <br/>
    <!-- Display other order details -->
    <div>
        <label for="employeeName">Employee Name:</label>
        <input type="text" id="employeeName" th:value="${order.employeeName}" disabled/>
    </div>
    <br/>
    <input type="submit" value="Update" />
</form>
<hr>

<a th:href="@{/order}">Back to Order List</a>
</div>
</body>

</html>
